@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "./components/css/variables-css/beforeSquigglyLineBottom.css";
@import "tailwindcss";

@theme static {
  /* Color */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);

  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);

  /* Font */
  --font-inconsolata: "Inconsolata", serif;
}

@layer base {  
  html {
    @apply font-inconsolata;
  }
}

@layer components {
  .bf-squiggly-line-bottom {
    @apply before:bg-[url(pattern/pattern-squiggly-line-bottom-mobile-tablet.svg)] before:lg:bg-[url(/pattern/pattern-squiggly-line-bottom-desktop.svg)] before:bg-cover before:bg-center before:absolute before:bottom-0 before:w-screen before:h-screen before:opacity-50 before:max-w-squiggly-line-bottom-mobile-width sm:before:max-w-squiggly-line-bottom-sm-width lg:before:max-w-squiggly-line-bottom-lg-width xl:before:max-w-squiggly-line-bottom-xl-width before:max-h-squiggly-line-bottom-mobile-height sm:before:max-h-squiggly-line-bottom-sm-height lg:before:max-h-squiggly-line-bottom-lg-height xl:before:max-h-squiggly-line-bottom-xl-height;
  }
}