@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "./components/css/squigglyLineBottom.css";
@import "./components/css/squigglyLineTop.css";
@import "./components/css/lines.css";
@import "tailwindcss";

@theme static {
  /* Color */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);

  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);

  /* Font */
  --font-inconsolata: "Inconsolata", serif;

  /* Sizes */
  --text-title-size: clamp(1.8rem, 0.633rem + 2.917vw, 2.5rem); 
  --text-paragraph-size: clamp(1rem, 0.167rem + 2.083vw, 1.5rem); 
}

@layer base {  
  html {
    @apply font-inconsolata;
  }
}

@utility title {
  @apply text-title-size text-neutral-0 font-semibold;
}

@utility container {
  @apply max-w-4xl;
}